.champs {
    background-image: url('');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 40px;
  }


.img{
    width: 200px;
    height: 200px;
}

.championSearch {
  display: flex;
}
