* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.matchup,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}



.matchup {
  background-image: url('images/wallpaper.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('images/IG.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0,0,0);
  font-size: 100px;
}