.list-container {
    margin: 5vmin;
}
  
.link-champion {
    text-decoration: none;
    color: black;
}

.item {
    margin: 3vmin;
    display: inline-block;
}

.item img {
    width: 15vh;
}

.champion-label {
    font-size: 2.5vmin;
    text-align: center;
}